<!doctype html>

<head>
    <title>Starcounter Administrator</title>

    <link rel="shortcut icon" href="/img/favicon.ico">

    <link rel="stylesheet" media="screen" href="/css/angular-ui-handsontable.full-0.3.15.css">

    <!-- angular-ui,  Used by: CodeMirror -->
    <link rel="stylesheet" type="text/css" href="/css/angular-ui-0.3.0.css">

    <!-- CodeMirror -->
    <link rel="stylesheet" type="text/css" href="/css/codemirror/codemirror.css">
    <link rel="stylesheet" type="text/css" href="/css/codemirror/monokai.css">

    <!-- Bootstrap, Used by: Global -->
    <link rel="stylesheet" href="/css/bootstrap-2.3.1.css">

    <link rel="stylesheet" href="/css/bootstrap-responsive-2.3.1.css">

    <link rel="stylesheet" href="/css/master.css">

    <!-- jQuery, Used by: angular-ui, ui-bootstrap  -->
    <script src="/sys/jquery-1.9.1.min.js"></script>

    <!-- Angular, Used by: Global -->
    <script src="/sys/angular-1.1.4.min.js"></script>
    <script src="/sys/angular-resource-1.1.4.min.js"></script>

    <link rel="stylesheet" href="/css/select2-3.2.css">

    <script src="sys/select2.js"></script>
    <script src="sys/ui-select2.js"></script>

    <!-- CodeMirror -->
    <script src="/sys/codemirror/codemirror.js"></script>
    <script src="sys/codemirror/sql.js"></script>

    <!-- Angular UI, Used by: CodeMirror -->
    <script src="sys/angular-ui-0.4.0.js"></script>

    <!-- UI-Bootstrap, Used by: Modal window, toogle button -->
    <script src="/sys/ui-bootstrap-tpls-0.3.0.js"></script>

    <!-- This will break the toogle button -->
    <!--<script src="/sys/bootstrap-2.3.0.min.js"></script>-->

    <!-- Json Patch, Used by: Global -->
    <script src="/sys/json-patch-duplex.js"></script>

    <!-- Handsontable, Used in: Log and Sql window -->
    <script src="/sys/angular-ui-handsontable.full-0.3.15.js"></script>

    <!-- Type conversion from Starcounter DbTypeCode to HandsonTable types. See https://gist.github.com/warpech/c33eabf2b72741eb927b -->

    <script src="/js/scTypesPlugin.js"></script>

    <script src="/js/scmodule.js"></script>

</head>

<body ng-app="scadmin" ng-controller="HeadCtrl" class="container">

    <div class="navbar ">
        <div class="navbar-inner">
            <div class="container">

                <a class="brand" href="#/main">
                    <img src="/img/sc_logo_24x24.png" style="margin: -3px 0px 0px 0px">
                    Starcounter Administrator</a>
                <ul class="nav pull-right">
                    <li><a href="http://www.starcounter.com/wiki" target="_blank">Help</a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="toplinks">
        <ul class="nav nav-pills">
            <!--<li ng-class="{active: isActiveUrl('/engines')}"><a href="#/engines">Engines</a></li>-->
            <li ng-class="{active: isActiveUrl('/executables')}"><a href="#/executables">Executables</a></li>
            <li ng-class="{active: isActiveUrl('/databases')}"><a href="#/databases">Databases</a></li>
            <li ng-class="{active: isActiveUrl('/sql')}"><a href="#/sql">SQL</a></li>
            <li ng-class="{active: isActiveUrl('/log')}"><a href="#/log">Log</a></li>
            <li ng-class="{active: isActiveUrl('/gateway') }"><a href="#/gateway">Gateway</a></li>
            <li ng-class="{active: isActiveUrl('/server_edit') }"><a href="#/server_edit">Settings</a></li>

            <!--            <li class="dropdown">
                <a class="dropdown-toggle"
                    data-toggle="dropdown"
                    href="#">Tools
                    <b class="caret"></b>
                </a>

                <ul class="dropdown-menu">
            <li ><a href="#/database_create">Create database</a></li>
                </ul>
            </li>-->
        </ul>
    </div>

    <div class="progress progress-striped active" ng-repeat="job in jobs">
        <div class="bar" style="width: 100%;">{{job.message}}</div>
    </div>

    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}
        <div ng-hide="alert.helpLink == null">
            <p>Help page: <a href="{{alert.helpLink}}" target="_blank">{{alert.helpLink}}</a></p>
        </div>
    </alert>




    <div ng-view></div>


</body>
