<!doctype html>

<head>
    <title>Starcounter Administrator</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" value="notranslate">

    <link rel="shortcut icon" href="/img/favicon.ico">

    <link rel="stylesheet" media="screen" href="/css/angular-ui-handsontable.full.css">

    <!-- angular-ui,  Used by: CodeMirror -->
    <link rel="stylesheet" type="text/css" href="/css/angular-ui-0.3.0.css">

    <!-- CodeMirror -->
    <link rel="stylesheet" type="text/css" href="/css/codemirror/codemirror.css">
    <link rel="stylesheet" type="text/css" href="/css/codemirror/monokai.css">

    <!-- Bootstrap, Used by: Global -->
    <link rel="stylesheet" href="/css/bootstrap-2.3.1.css">

    <link rel="stylesheet" href="/css/bootstrap-responsive-2.3.1.css">

    <link rel="stylesheet" href="/css/select2.css">

    <link rel="stylesheet" href="/css/master.css">

    <!-- jQuery, Used by: angular-ui, ui-bootstrap  -->
    <script src="/sys/jquery-1.9.1.min.js"></script>

    <script src="sys/very-native-scrollbar.js"></script>

    <script src="sys/select2.js"></script>

    <!-- Angular, Used by: Global -->
    <script src="/sys/angular-1.1.4.min.js"></script>
    <script src="/sys/angular-resource-1.1.4.min.js"></script>


    <script src="sys/ui-select2.js"></script>

    <!-- CodeMirror -->
    <script src="/sys/codemirror/codemirror.js"></script>
    <script src="sys/codemirror/sql.js"></script>

    <!-- Angular UI, Used by: CodeMirror -->
    <script src="sys/angular-ui-0.4.0.js"></script>

    <!-- UI-Bootstrap, Used by: Modal window, toogle button -->
    <script src="/sys/ui-bootstrap-tpls-0.3.0.js"></script>

    <!-- This will break the toogle button -->
    <!--<script src="/sys/bootstrap-2.3.0.min.js"></script>-->

    <!-- Json Patch, Used by: Global -->
    <script src="/sys/json-patch-duplex.js"></script>

    <!-- Handsontable, Used in: Log and Sql window -->
    <script src="/sys/angular-ui-handsontable.full.js"></script>

    <!-- Type conversion from Starcounter DbTypeCode to HandsonTable types. See https://gist.github.com/warpech/c33eabf2b72741eb927b -->

    <script src="/js/scTypesPlugin.js"></script>
    <script src="/js/scNullCellsPlugin.js"></script>


    <script src="/app/app.js"></script>

    <!-- Services -->
    <script src="/app/services/DatabaseService.js"></script>
    <script src="/app/services/DatabaseConsoleService.js"></script>
    <script src="/app/services/ExecutableService.js"></script>
    <script src="/app/services/SqlService.js"></script>
    <script src="/app/services/LogService.js"></script>
    <script src="/app/services/GatewayService.js"></script>
    <script src="/app/services/ServerService.js"></script>
    <script src="/app/services/VersionCheckService.js"></script>

    <!-- Factories -->
    <script src="/app/factories/Utils.js"></script>
    <script src="/app/factories/UserMessageFactory.js"></script>
    <script src="/app/factories/NoticeFactory.js"></script>
    <script src="/app/factories/JobFactory.js"></script>

    <!-- Controllers -->
    <script src="/app/controllers/UserErrorMessageCtrl.js"></script>
    <script src="/app/controllers/DatabasesCtrl.js"></script>
    <script src="/app/controllers/DatabaseCtrl.js"></script>
    <script src="/app/controllers/DatabaseCreateCtrl.js"></script>
    <script src="/app/controllers/DatabaseSettingsCtrl.js"></script>
    <script src="/app/controllers/ExecutablesCtrl.js"></script>
    <script src="/app/controllers/ExecutableStartCtrl.js"></script>
    <script src="/app/controllers/SqlCtrl.js"></script>
    <script src="/app/controllers/LogCtrl.js"></script>
    <script src="/app/controllers/GatewayCtrl.js"></script>
    <script src="/app/controllers/ServerSettingsCtrl.js"></script>

    <!-- Directives -->
    <script src="/app/directives/Notices.js"></script>
    <script src="/app/directives/Jobs.js"></script>
    <script src="/app/directives/VersionCheck.js"></script>


    <link rel="stylesheet" href="/app/css/Styles.css">

    <script>
 

    </script>

</head>

<body data-ng-app="scadmin" class="container">

    <div id="top" class="navbar ">
        <div class="navbar-inner">
            <div class="container">

                <a class="brand" href="#/main">
                    <img src="/app/images/sc_logo_24x24.png" style="margin: -3px 0px 0px 0px">
                    Starcounter Administrator</a>
                <ul class="nav pull-right">
                    <li><a href="http://www.starcounter.com/wiki" target="_blank">Help</a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="toplinks">
        <ul class="nav nav-pills" data-ng-controller="NavbarController">
            <li data-ng-class="{active: getClass('/executables')}"><a href="#/executables">Executables</a></li>
            <li data-ng-class="{active: getClass('/databases')}"><a href="#/databases">Databases</a></li>
            <li data-ng-class="{active: getClass('/sql')}"><a href="#/sql">SQL</a></li>
            <li data-ng-class="{active: getClass('/log')}"><a href="#/log">Log</a></li>
            <li data-ng-class="{active: getClass('/gateway') }"><a href="#/gateway">Gateway</a></li>
            <li data-ng-class="{active: getClass('/serverSettings') }"><a href="#/serverSettings">Settings</a></li>
        </ul>
    </div>


    <version-check></version-check>

<!--    <div class="alert alert-info" data-ng-show="newVersion!=null">
        <button type="button" class="close" data-ng-click="closeVersionNotice()" data-dismiss="alert">&times;</button>
        <strong>New Version!</strong>
        <p>A newer version of Starcounter is available.</p>
        <a href="{{newVersion.downloadUri}}" target="_blank">Download ({{newVersion.version}})</a>
    </div>-->

    <div class="progress progress-striped active" data-ng-repeat="job in jobs">
        <div class="bar" style="width: 100%;">{{job.message}}</div>
    </div>

    <jobs></jobs>

    <notices></notices>


    <div data-ng-view />


</body>
