_Resharper*
obj
bin
x64
Win32
Debug
Release
*.user
*.cache
*.opensdf
*.generated.cs
*.Resources.Designer.cs.dll
*.force
*.suo
*.sdf
*.ipch
src/Starcounter/Error.cs
src/Starcounter.Internal/Error.cs
src/_NCrunch_Level1
src/packages
.nuget

# Generated error code files
src/Starcounter.ErrorCodes/ErrorCodeCompiler/scerrcc.exe
src/Starcounter.ErrorCodes/ErrorCodeCompiler/scerrcc.pdb
src/Starcounter.ErrorCodes/ErrorCodeCompiler/Starcounter.Errors.dll
src/Starcounter.ErrorCodes/ErrorCodeCompiler/Starcounter.Errors.pdb
src/Starcounter.ErrorCodes/scerrres/scerrres.h

# Documentation build
src/BuildSystem/Documentation/InternalDoc/build
src/BuildSystem/Documentation/InternalDoc/script
src/BuildSystem/Documentation/InternalDoc/scripts
src/BuildSystem/Documentation/InternalDoc/images
src/BuildSystem/Documentation/InternalDoc/dotnetimages

src/BuildSystem/Documentation/PublicDoc/build
src/BuildSystem/Documentation/PublicDoc/script
src/BuildSystem/Documentation/PublicDoc/scripts
src/BuildSystem/Documentation/PublicDoc/images
src/BuildSystem/Documentation/PublicDoc/dotnetimages

*.ncrunchsolution

src/Starcounter.SqlParser/Parser/gram.c
src/Starcounter.SqlParser/Parser/gram.h
src/Starcounter.SqlParser/Parser/scan.c

*.output

src/Samples/NetworkIoTest/image.png

#nCover
*.sln.DotSettings

