_Resharper*
obj
bin
x64
Win32
Debug
Release
*.user
*.cache
*.opensdf
*.generated.cs
*.XmlSerializers.dll
*.Resources.Designer.cs.dll
*.force
*.suo
*.sdf
*.ipch
src/Starcounter/Error.cs
src/Starcounter.Internal/Error.cs
*.ncrunchsolution
src/packages
