<legend>Application - {{model.application.Name}} <span class="Running">(Running)</span>
    <a class="btn btn-mini pull-right" href="#/applications"><i class="icon-resize-small"></i></a>
</legend>



<dl class="dl-horizontal">
    <dt>Started</dt>
    <dd>{{model.application.RuntimeInfo.Started | date:'medium'}}</dd>
    <dt>FilePath</dt>
    <dd>{{model.application.Path}}</dd>
    <dt>Argument</dt>
    <dd>
        <div class="muted" ng-repeat="argument in model.application.Arguments">
            {{argument.dummy}}&nbsp;
        </div>
    </dd>
</dl>

<div class="row-fluid">

    <legend>Console output
            <button title="Refresh console" ng-show="model.application.consoleManualMode == true" class="btn pull-right" ng-click="btnGetConsoleOutput(model.application)"><i class="icon-refresh"></i></button>
    </legend>

    <consolewindow  id="console" width-attr="100%" height-attr='{{calcHeight()}}px' id="console"  ng-model="model.application.console"></consolewindow>


</div>



