<div class="panel panel panel-primary" ng-show="appStoreServiceStatus.Enabled">
    <div class="panel-heading">
        App Store
    </div>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Image</th>
                <th>Namespace</th>
                <th>Name</th>
                <th>Description</th>
                <th>Size (bytes)</th>
                <th>Version</th>
                <th>NewVersion</th>
                <th>IsRunning</th>
                <th>IsInstalled</th>
                <th>Updated</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="item in appStoreApplications">
                <td>
                    <img style="height: auto; width: auto; max-width: 32px; max-height: 32px;" src="{{item.ImageUri}}" />
                </td>
                <td>{{item.Namespace}}</td>
                <td>{{item.DisplayName}}</td>
                <td>{{item.Description}}</td>
                <td>{{item.Size}}</td>
                <td>{{item.Version}}</td>
                <td>{{item.IsNewVersionAvailable}}</td>
                <td>{{item.IsRunning}}</td>
                <td>{{item.IsInstalled}}</td>
                <td>{{item.VersionDate | date:'shortDate'}}</td>
                <td>
                    <div class="pull-right">
                        <div ng-show="item.task.Text" class="spinner tiny"></div>
                        <button class="btn btn-default btn-sm btn-success" ng-hide="item.IsInstalled" ng-click="btnInstall(item)" title="Install">Install</button>
                        <button class="btn btn-default btn-sm btn-danger" ng-show="item.IsInstalled" ng-click="btnUninstall(item)" title="UnInstall">Uninstall</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-show="appStoreMessage">
    <div class="alert alert-info" role="alert"><strong>{{appStoreMessage.header}}</strong><br />
        {{appStoreMessage.message}}</div>
</div>

<div ng-show="isBusy"  title="Connecting to App Store" class="spinner medium"></div>
