<div class="panel panel panel-primary" ng-show="appStoreServiceStatus.Enabled" ng-repeat="store in appStoreApplications | orderBy: 'DisplayName'">
    <div class="panel-heading">
        {{store.DisplayName}} Store <span ng-show="store.Updates" class="badge alert-danger">{{store.Updates}}</span>
    </div>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th class="text-right">Size</th>
                <th class="text-right">Version</th>
                <th>Updated</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="item in store.Items | orderBy: 'DisplayName'">
                <td class="text-center">
                    <img style="height: auto; width: auto; max-width: 32px; max-height: 32px;" src="{{item.ImageUrl}}" />
                </td>
                <td>{{item.DisplayName}}</td>
                <td>{{item.Description}}</td>
                <td class="text-right">{{item.Size | bytes}}</td>
                <td class="text-right">{{item.Version}}</td>
                <td>{{item.VersionDate  | date:'medium'}}</td>
                <td>
                    <div class="pull-right">
                        <div ng-show="item.task.Text" class="spinner tiny"></div>
                        <button style="min-width: 80px" class="btn btn-default btn-sm btn-info" ng-show="item.NewVersionAvailable && item.IsInstalled" ng-click="btnUpgrade(item)" title="Upgrade">Upgrade</button>
                        <button style="min-width: 80px" class="btn btn-default btn-sm btn-success" ng-hide="item.IsInstalled" ng-click="btnInstall(item)" title="Install">Install</button>
                        <button style="min-width: 80px" class="btn btn-default btn-sm btn-danger" ng-show="item.IsInstalled" ng-click="btnUninstall(item)" title="UnInstall">Uninstall</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div ng-show="appStoreMessage">
    <div class="alert alert-info" role="alert">
        <strong>{{appStoreMessage.header}}</strong><br />
        {{appStoreMessage.message}}
    </div>
</div>

<div style="margin-bottom:10px" ng-show="isBusy" title="Connecting to App Store" class="spinner medium"></div>


