
<form name="myForm" class="form-horizontal  well well-small">

    <fieldset>
        <legend>Create Database</legend>

        <!-- Database name -->
        <div class="control-group" ng-class="{error: myForm.Name.$invalid}">
            <label class="control-label" for="Name">Name</label>
            <div class="controls">
                <input ng-disabled="isBusy == true" type="text" name="Name" id="Name" placeholder="Database name" ng-model="settings.Name" required>
                <span ng-show="myForm.Name.$error.validationError" class="help-inline">Invalid format</span>
                <span ng-show="myForm.Name.$error.required" class="help-inline">Required</span>
            </div>
        </div>

        <!-- DefaultUserHttpPort -->
        <div class="control-group" ng-class="{error: myForm.DefaultUserHttpPort.$invalid}">
            <label class="control-label" for="DefaultUserHttpPort">Http Port</label>
            <div class="controls">
                <input ng-disabled="isBusy == true" type="number" min="0" max="65535" integer name="DefaultUserHttpPort" id="DefaultUserHttpPort" placeholder="Http port" ng-model="settings.DefaultUserHttpPort" required>
                <span ng-show="myForm.DefaultUserHttpPort.$error.validationError" class="help-inline">Invalid format</span>
                <span ng-show="myForm.DefaultUserHttpPort.$error.required" class="help-inline">Required</span>
            </div>
        </div>

        <!-- CollationFile -->
        <div class="control-group" ng-class="{error: myForm.CollationFile.$invalid}">
            <label class="control-label" for="CollationFile">Collation</label>
            <div class="controls">

                <select class="input-large" ng-disabled="isBusy == true" ui-select2 ng-model="settings.CollationFile" name="CollationFile" id="CollationFile" required>
                    <option value="{{collation.File}}" ng-repeat="collation in collations">{{collation.Description}}</option>
                </select>

                <span ng-show="myForm.CollationFile.$error.validationError" class="help-inline">Invalid format</span>
                <span ng-show="myForm.CollationFile.$error.required" class="help-inline">Required</span>
            </div>
        </div>

        <!-- ImageDirectory -->
        <div class="control-group" ng-class="{error: myForm.ImageDirectory.$invalid}">
            <label class="control-label" for="ImageDirectory">Image Directory</label>
            <div class="controls">
                <input ng-change="onUserChangedFolder('ImageDirectory')" ng-disabled="isBusy == true" class="input-xxlarge" type="text" name="ImageDirectory" id="ImageDirectory" placeholder="Image Directory" ng-model="settings.ImageDirectory" required>
                <span ng-show="myForm.ImageDirectory.$error.validationError" class="help-inline">Invalid format</span>
                <span ng-show="myForm.ImageDirectory.$error.required" class="help-inline">Required</span>
                <span class="help-block">Full path of the directory containing image files (relative to the server).</span>
            </div>
        </div>

        <!-- TransactionLogDirectory -->
        <div class="control-group" ng-class="{error: myForm.TransactionLogDirectory.$invalid}">
            <label class="control-label" for="TransactionLogDirectory">Transaction Log Directory</label>
            <div class="controls">
                <input ng-change="onUserChangedFolder('TransactionLogDirectory')" ng-disabled="isBusy == true" class="input-xxlarge" type="text" name="TransactionLogDirectory" id="TransactionLogDirectory" placeholder="Transactionlog Directory" ng-model="settings.TransactionLogDirectory" required>
                <span ng-show="myForm.TransactionLogDirectory.$error.validationError" class="help-inline">Invalid format</span>
                <span ng-show="myForm.TransactionLogDirectory.$error.required" class="help-inline">Required</span>
                <span class="help-block">Full path of the directory containing transaction log files (relative to the server).</span>
            </div>
        </div>

        <!-- TempDirectory -->
        <div class="control-group" ng-class="{error: myForm.TempDirectory.$invalid}">
            <label class="control-label" for="TempDirectory">Temp Directory</label>
            <div class="controls">
                <input ng-change="onUserChangedFolder('TempDirectory')" ng-disabled="isBusy == true" class="input-xxlarge" type="text" name="TempDirectory" id="TempDirectory" placeholder="Temp Directory" ng-model="settings.TempDirectory" required>
                <span ng-show="myForm.TempDirectory.$error.validationError" class="help-inline">Invalid format</span>
                <span ng-show="myForm.TempDirectory.$error.required" class="help-inline">Required</span>
                <span class="help-block">Full path of the directory which temporary files are stored (relative to the server).</span>
            </div>
        </div>

        <!-- DumpDirectory -->
        <div class="control-group" ng-class="{error: myForm.DumpDirectory.$invalid}">
            <label class="control-label" for="DumpDirectory">Dump Directory</label>
            <div class="controls">
                <input ng-change="onUserChangedFolder('DumpDirectory')" ng-disabled="isBusy == true" class="input-xxlarge" type="text" name="DumpDirectory" id="DumpDirectory" placeholder="Dump Directory" ng-model="settings.DumpDirectory" required>
                <span ng-show="myForm.DumpDirectory.$error.validationError" class="help-inline">Invalid format</span>
                <span ng-show="myForm.DumpDirectory.$error.required" class="help-inline">Required</span>
                <span class="help-block">Full path of the directory containing dump files (relative to the server).</span>
            </div>
        </div>

        <!-- SqlAggregationSupport -->
        <div class="control-group" ng-class="{error: myForm.SqlAggregationSupport.$invalid}">
            <div class="controls">
                <label class="checkbox">
                    <input ng-disabled="isBusy == true" type="checkbox" name="SqlAggregationSupport" id="SqlAggregationSupport" ng-model="settings.SqlAggregationSupport">SQL Aggregation Support</label>
            </div>
        </div>

        <!-- SchedulerCount -->
        <div class="control-group" ng-class="{error: myForm.SchedulerCount.$invalid}">
            <label class="control-label" for="SchedulerCount">Scheduler Count</label>
            <div class="controls">
                <input ng-disabled="isBusy == true" type="number" min="0" max="65535" integer name="SchedulerCount" id="SchedulerCount" placeholder="Scheduler Count" ng-model="settings.SchedulerCount" required>
                <span ng-show="myForm.SchedulerCount.$error.validationError" class="help-inline">Invalid format</span>
                <span ng-show="myForm.SchedulerCount.$error.required" class="help-inline">Required</span>
                <span class="help-block">Number of schedulers the database host should utilize.</span>
            </div>
        </div>

        <!-- ChunksNumber -->
        <div class="control-group" ng-class="{error: myForm.ChunksNumber.$invalid}">
            <label class="control-label" for="ChunksNumber">Chunks</label>
            <div class="controls">
                <input ng-disabled="isBusy == true" type="number" name="ChunksNumber" id="ChunksNumber" placeholder="Chunks" ng-model="settings.ChunksNumber" required>
                <span ng-show="myForm.ChunksNumber.$error.validationError" class="help-inline">Invalid format</span>
                <span ng-show="myForm.ChunksNumber.$error.required" class="help-inline">Required</span>
                <span class="help-block">Number of shared memory chunks, dividable by 256..</span>
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" ng-disabled="myForm.$invalid || isBusy == true" class="btn btn-success" ng-click="btnCreateDatabase(settings)">Create Database</button>
            <button ng-disabled="myForm.$pristine  == true || isBusy == true" class="btn" ng-click="btnResetSettings()">Reset</button>
        </div>

    </fieldset>
</form>

