<div class="panel panel panel-primary">
    <div class="panel-heading">
        Databases
            <div class="btn-group pull-right" data-toggle="buttons-radio">
                <button type="button" class="btn btn-default btn-xs" ng-model="view" btn-radio="'list'" title="List view"><span class="glyphicon glyphicon-list"></span></button>
                <button type="button" class="btn btn-default btn-xs" ng-model="view" btn-radio="'icon'" title="Icon view"><span class="glyphicon glyphicon-th"></span></button>
            </div>
    </div>

    <div class="panel-body" ng-show="view=='icon' || databases.length == 0">

        <ul id="databaseIconList" class="list-group">

            <li ng-repeat="database in databases  | orderBy: 'Name'">

                <h4><a href="#/databases/{{database.name}}">{{database.name}}</a>

                    <span class="pull-right">
                        <span ng-show="database.running" class="label label-success" title="Database is running">Running</span>
                        <a class="btn btn-default btn-xs" href="#/databases/{{database.name}}" title="Maximize Database window"><i class="glyphicon glyphicon-resize-full"></i></a>
                    </span>
                </h4>

                <div class="btn-toolbar">
                    <div style="margin-left: 5px" ng-show="database.task.Text" title="{{database.task.Text}}" class="spinner tiny"></div>
                    <div class="btn-group">
                        <button ng-disabled='database.running == true || database.task != null' class="btn btn-default btn-xs btn-success" ng-click="btnStartDatabase(database)" title="Start Database">Start</button>
                        <button ng-disabled='database.running == false || database.task != null' class="btn btn-default btn-xs btn-danger" ng-click="btnStopDatabase(database)" title="Stop Database">Stop</button>
                    </div>

                    <div class="pull-right">
                        <button title="Refresh console" ng-show="database.consoleManualMode == true" class="btn btn-default btn-sm pull-right" ng-click="btnGetConsoleOutput(database)"><i class="glyphicon glyphicon-refresh"></i></button>
                    </div>
                </div>

                <div ng-style="{'height':'200px', 'width':'100%'}" title="Console output">
                    <consolewindow ng-model="database.console"></consolewindow>
                </div>
            </li>
        </ul>

        <div ng-show="databases.length == 0">
            <label>There are no databases.</label>
        </div>
    </div>

    <table class="table table-condensed" ng-show="view=='list' && databases.length > 0">

        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="database in databases | orderBy: 'name'">
                <td><a href="#/databases/{{database.name}}">{{database.name}}</a>
                    <span ng-show="database.running" class="label label-success" title="Database is running">Running</span>
                    <!--<span ng-hide="database.running" class="label label-important pull-right">Stopped</span>-->

                </td>

                <td>
                    <div class="pull-right">
                        <div ng-show="database.task.Text" title="{{database.task.Text}}" class="spinner tiny"></div>
                        <div class="btn-group">
                            <button ng-disabled='database.running == true || database.task != null' class="btn btn-default btn-sm btn-success" ng-click="btnStartDatabase(database)" title="Start Database">Start</button>
                            <button ng-disabled='database.running == false || database.task != null' class="btn btn-default btn-sm btn-danger" ng-click="btnStopDatabase(database)" title="Stop Database">Stop</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="panel-footer">
        <div class="btn-toolbar">
            <div class="btn-group">
                <a class="btn btn-default btn-primary" href="#/databaseCreate" title="Create a new database">Create database</a>
            </div>
        </div>
    </div>
</div>

