<form name="myForm" class="form-horizontal  well well-small" ng-hide='model.settings == null'>

    <legend>Edit Database - {{model.database.name}}</legend>


    <!-- DefaultUserHttpPort -->
    <div class="control-group" ng-class="{error: myForm.DefaultUserHttpPort.$invalid}">
        <label class="control-label" for="DefaultUserHttpPort">Http Port</label>
        <div class="controls">
            <input ng-disabled="isBusy == true" type="number" min="0" max="65535" integer name="DefaultUserHttpPort" id="DefaultUserHttpPort" placeholder="Http port" ng-model="model.settings.DefaultUserHttpPort" required>
            <span ng-show="myForm.DefaultUserHttpPort.$error.validationError" class="help-inline">Invalid format</span>
            <span ng-show="myForm.DefaultUserHttpPort.$error.required" class="help-inline">Required</span>
        </div>
    </div>


    <!-- SqlAggregationSupport -->
    <div class="control-group" ng-class="{error: myForm.SqlAggregationSupport.$invalid}">
        <div class="controls">
            <label class="checkbox">
                <input ng-disabled="isBusy == true" type="checkbox" name="SqlAggregationSupport" id="SqlAggregationSupport" ng-model="model.settings.SqlAggregationSupport">SQL Aggregation Support</label>
        </div>
    </div>

    <!-- SchedulerCount -->
    <div class="control-group" ng-class="{error: myForm.SchedulerCount.$invalid}">
        <label class="control-label" for="SchedulerCount">Scheduler Count</label>
        <div class="controls">
            <input ng-disabled="isBusy == true" type="number" min="0" max="65535" integer name="SchedulerCount" id="Number1" placeholder="Scheduler Count" ng-model="model.settings.SchedulerCount" required>
            <span ng-show="myForm.SchedulerCount.$error.validationError" class="help-inline">Invalid format</span>
            <span ng-show="myForm.SchedulerCount.$error.required" class="help-inline">Required</span>
            <span class="help-block">Number of schedulers the database host should utilize.</span>
        </div>
    </div>

    <!-- ChunksNumber -->
    <div class="control-group" ng-class="{error: myForm.ChunksNumber.$invalid}">
        <label class="control-label" for="ChunksNumber">Chunks</label>
        <div class="controls">
            <input ng-disabled="isBusy == true" type="number" name="ChunksNumber" id="ChunksNumber" placeholder="Chunks" ng-model="model.settings.ChunksNumber" required>
            <span ng-show="myForm.ChunksNumber.$error.validationError" class="help-inline">Invalid format</span>
            <span ng-show="myForm.ChunksNumber.$error.required" class="help-inline">Required</span>
            <span class="help-block">Number of shared memory chunks, dividable by 256..</span>
        </div>
    </div>


    <div class="form-actions">
        <button type="submit" ng-disabled="myForm.$invalid || isBusy == true || myForm.$dirty == false" class="btn btn-success" ng-click="btnSaveSettings(model.database,model.settings)">Save</button>
        <button ng-disabled="myForm.$pristine  == true || isBusy == true" class="btn" ng-click="btnResetSettings()">Reset</button>
    </div>

</form>

