<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h3>{{model.title}}</h3>
</div>
<div class="modal-body">
    <div class="alert alert-error">
        <h4 class="alert-heading">Warning!</h4>
        <p ng-bind-html="model.message"></p>
    </div>


    <form name="myForm">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="name">Enter database name</label>
                <div class="controls">
                    <input ng-pattern='{{model.pattern}}' type="text" name="name" id="name" placeholder="Database name" ng-model="model.enteredDatabaseName" required>
                    <span ng-show="myForm.name.$error.pattern || myForm.name.$error.required" class="help-inline">
                        <p class="text-error">Incorrect database name</p>
                    </span>
                </div>
            </div>
        </fieldset>
    </form>

</div>


<div class="modal-footer">
    <div class="btn-group">
        <button ng-disabled="myForm.$invalid && button.result==0" ng-class="'btn {{button.cssClass}}'" ng-click="btnClick(button)" ng-repeat="button in model.buttons">{{button.label}}</button>
    </div>
</div>

