<legend>Executable - {{model.executable.Name}} <span class="Running">(Running)</span>
    <a class="btn btn-mini pull-right" href="#/executables"><i class="icon-resize-small"></i></a>
</legend>



<dl class="dl-horizontal">
    <dt>Started</dt>
    <dd>{{model.executable.RuntimeInfo.Started | date:'medium'}}</dd>
    <dt>FilePath</dt>
    <dd>{{model.executable.ApplicationFilePath}}</dd>
    <dt>Argument</dt>
    <dd>
        <div class="muted" ng-repeat="argument in model.executable.Arguments">
            {{argument.dummy}}&nbsp;
        </div>
    </dd>
</dl>

<div class="row-fluid">

    <legend>Console output
            <button title="Refresh console" ng-show="model.executable.consoleManualMode == true" class="btn pull-right" ng-click="btnGetConsoleOutput(model.executable)"><i class="icon-refresh"></i></button>
    </legend>

    <div class="console" ng-style="style()" id="console" style="overflow: scroll" ng-bind-html="model.executable.console" />

</div>



