<form name="myForm" class="form-horizontal  well well-small" ng-hide='model.settings == null'>

    <legend>Server Settings</legend>

    <div class="control-group" ng-class="{error: myForm.SystemHttpPort.$invalid}">
        <label class="control-label" for="SystemHttpPort">Http Port</label>
        <div class="controls">
            <input ng-disabled="isBusy == true" type="number" min="0" max="65535" integer name="SystemHttpPort" id="SystemHttpPort" placeholder="Http port" ng-model="model.settings.SystemHttpPort" required>
            <span ng-show="myForm.SystemHttpPort.$error.validationError" class="help-inline">Invalid format</span>
            <span ng-show="myForm.SystemHttpPort.$error.required" class="help-inline">Required</span>
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" ng-disabled="myForm.$invalid || isBusy == true || myForm.$dirty == false" class="btn btn-success" ng-click="btnSaveSettings(model.settings)">Save</button>
        <button ng-disabled="myForm.$pristine  == true || isBusy == true" class="btn" ng-click="btnResetSettings()">Reset</button>
    </div>

</form>

<p class="muted pull-right">
    {{model.settings.Edition}}-{{model.settings.Channel}}-{{model.settings.Version}} ({{model.settings.VersionDate | date:'medium'}})
</p>
