<div class="panel panel panel-primary">

    <div class="panel-heading">
        SQL Query
    </div>

    <div class="panel-body">

        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group ">
                <!-- Query history -->
                <button title="Execute Query" style="min-width: 100px" type="submit" class="btn btn-default btn-success" ng-disabled="!canExecute()" ng-click="btnExecute(queryState.sqlQuery,queryState.selectedDatabaseName)" title="Execute query (CTRL+Enter)">{{executeButtonTitle(isBusy)}}</button>

                <button class="btn btn-default btn-success dropdown-toggle" data-toggle="dropdown" title="Query history">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li role="presentation" ng-repeat="item in queryHistory | orderBy:reverse track by $index" title="{{item.statement}}">
                        <a href="" role="menuitem" ng-click="btnSelectQuery(item)">{{$index+1}}. {{item.statement|truncate:80}}</a>
                    </li>
                </ul>

            </div>
            <div class="btn-group">
                <!-- Database -->

                <select title="Select database" style="min-width: 120px" class="form-control" ng-model="queryState.selectedDatabaseName" name="Database" id="Select1" required>
                    <option value="{{database.name}}" ng-repeat="database in databases | filter:{ running:true} | orderBy: 'name'">{{database.name}}</option>
                </select>

            </div>

            <div class="btn-group">
                <div style="margin-top:7px"  ng-show="isBusy" title="{{executeButtonTitle(isBusy)}}" class="spinner tiny"></div>
            </div>

        </div>

        <div class="row" style="margin-top: 15px; margin-bottom: 15px" title="SQL Query">
            <textarea id="sqlinput" ui-codemirror="{theme:'monokai'}" ng-model="queryState.sqlQuery"></textarea>
        </div>

        <div class="row" ng-hide='isBusy == true' style="margin-top: 15px; margin-bottom: -15px">

            <tabset>
                <tab heading="Result">
                  <div id="handsontableContainer" style="overflow-x: auto; overflow-y: visible">
                    <ui-handsontable
                        id="handsontable"
                        stretchh="'last'"
                        selectedindex="SelectedIndex"
                        outsideclickdeselects="false"
                        selectedindex="currentSelection"
                        columns="queryState.columns"
                        minsparerows="0"
                        startrows="0"
                        datarows="row in queryState.rows"
                        currentrowclassname="'currentRow'"
                        manualcolumnmove="false"
                        manualcolumnresize="false"
                        columnsorting="false"
                        nativescrollbars="true"
                        afterrender="afterRender"
                        fragmentselection="true">
                    </ui-handsontable>
                  </div>
                </tab>

                <tab heading="Queryplan">
                    <div style="margin-left: 15px; margin-right: 15px" ng-bind-html="queryState.queryPlan"></div>
               </tab>
            </tabset>
        </div>
    </div>
</div>
