
.Debug {
}


.Notice {
}

.SuccessAudit {
    color: #00a100;
}

.Warning {
    color: rgb(209, 117, 0);
}

.FailureAudit {
    color: #a10000;
}

.Error {
    color: #a10000;
}

.Critical {
    color: #a10000;
}

.log_datetime {
    max-width: 140px;
    min-width: 140px;
}


.handsontable .currentRow {
    background-color: #E7E8EF;
}

.handsontable .currentCol {
    background-color: #F9F9FB;
}
