/*body { padding-top: 45px; }*/


#spanExeBox {
    display: inline-block;
    padding: 7px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/* APP/DATABASE STATUS */

.Running {
    color: #00a100;
}

/* LOG TYPE */
.Debug {
}


.Notice {
}

.SuccessAudit {
    color: #00a100;
}

.Warning {
    color: rgb(209, 117, 0);
}

.FailureAudit {
    color: #a10000;
}

.Error {
    color: #a10000;
}

.Critical {
    color: #a10000;
}

.log_datetime {
    max-width: 140px;
    min-width: 140px;
}


.handsontable .currentRow {
    background-color: #E7E8EF;
}

.handsontable .currentCol {
    background-color: #F9F9FB;
}


.console {
    background-color: #000000;
    color: white;
    padding: 5px;
    margin-top: 10px;
    font-size: 90%;
    font-family: "Courier New", Courier, monospace;
}


.navbar-inner {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.navbar {
    margin-bottom: 0px;
}




.toplinks, navbar-inner {
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #f2f2f2, #f2f2f2);
    background-image: -o-linear-gradient(top, #f2f2f2, #f2f2f2);
    background-image: linear-gradient(to bottom, #fefefe, #fefefe);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.065);
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.05);
}


    .toplinks .nav-pills {
        margin-bottom: 5px;
    }



.fix-word-wrap-table {
    table-layout: fixed;
    word-wrap: break-word;
}
