<!doctype html>

<head>
    <title>Starcounter Downloads</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/img/favicon.ico">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">


    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-resource.min.js "></script>

    <!-- Angular localisation -->
    <script type='text/javascript'>

        var l_lang;
        if (navigator.userLanguage) // Explorer
            l_lang = navigator.userLanguage;
        else if (navigator.language) // Chrome
            l_lang = navigator.language;
        else
            l_lang = "en";

        document.write('<scr' + 'ipt type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.0.7/angular-locale_' + l_lang.toLowerCase() + '.js"></sc' + 'ript>');
    </script>

    <script src="/js/master.js"></script>

</head>

<body ng-app="downloadApp" ng-controller="DownloadCtrl as dCtrl" class="container">

    <a class="btn" href="http://www.starcounter.com">Starcounter.com</a>
    <a class="btn" href="https://github.com/starcounter/starcounter/wiki">Wiki</a>
    <a class="btn" href="http://www.starcounter.com/forum">Forum</a>

    <div class="alert alert-danger alert-dismissable" ng-show="alertMessage">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Error!</strong> {{alertMessage}}.
    </div>

    <div ng-show="dCtrl.editions.length==0" class="alert alert-info">
        At the moment there is no versions available for download. Please try again later.
    </div>

    <br />

    <div class="panel panel-default" ng-repeat="edition in dCtrl.editions">

        <div class="panel-heading">
            <h1 class="panel-title"><strong>{{edition.name}} edition</strong></h1>
        </div>

        <div ng-show="edition.channels.length==0" class="alert alert-info">
            At the moment there is no versions available for download. Please try again later.
        </div>

        <ul class="list-group">

            <li class="list-group-item" ng-repeat="channel in edition.channels">
                <h5>{{channel.name}} channel</h5>

                <a href="{{channel.downloadUrl}}" class="btn btn-success">Download latest ({{channel.latestVersion}})</a>
                <br />
                <br />

                <div ng-show="channel.versions.length==0" class="alert alert-info">
                    At the moment there is no versions available for download. Please try again later.
                </div>

                <div ng-repeat="version in channel.versions">
                    <a href="{{version.downloadUrl}}">{{version.version}}</a>
                    ({{version.versionDate | date:'medium'}})
                </div>

            </li>

        </ul>
    </div>

</body>
