<!doctype html>

<head>
    <title>Starcounter Download Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/img/favicon.ico">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">


    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-resource.min.js "></script>

    <!-- Angular localisation -->
    <script type='text/javascript'>

        var l_lang;
        if (navigator.userLanguage) // Explorer
            l_lang = navigator.userLanguage;
        else if (navigator.language) // Chrome
            l_lang = navigator.language;
        else
            l_lang = "en";

        document.write('<scr' + 'ipt type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.0.7/angular-locale_' + l_lang.toLowerCase() + '.js"></sc' + 'ript>');
    </script>

    <script src="/js/login.js"></script>

</head>

<body ng-app="loginApp" ng-controller="LoginCtrl as lCtrl" class="container">

<br/><br/><br/><br/>

  <div class="row">
    <div class="col-md-3 col-md-offset-4">
      <div class="panel panel-primary">

        <div class="panel-heading">
          <h3 class="panel-title">Starcounter Download</h3>
        </div>

        <div class="panel-body">

          <form role="form" name="loginForm" ng-submit="lCtrl.login(lCtrl.credentials)" novalidate >
            <div class="form-group" ng-class="has-error">
              <input type="name" class="form-control" id="name" placeholder="&lt;Name&gt;" ng-model="lCtrl.credentials.name"  required>
            </div>

            <div class="form-group" ng-class="has-error">
              <input type="password" class="form-control" id="password" placeholder="&lt;Password&gt;" ng-model="lCtrl.credentials.password" required>
            </div>
            <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-success">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>


</body>
