<div>

    <button class="btn pull-right" ng-click="btnClick_refreshApps()"><i class="icon-repeat"></i></button>

    <table class="table table-striped table-bordered fix-word-wrap-table" ng-hide="apps == null || apps.length == 0">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>

            <tr ng-repeat="app in apps">

                <td>
                    <div class="btn-group">
                        <a ng-disabled="true" class="btn"><i class="icon-repeat"></i></a>
                        <a ng-disabled="true" class="btn"><i class="icon-play"></i></a>
                        <a ng-disabled="true" class="btn"><i class="icon-stop "></i></a>
                    </div>
                </td>
                <td>{{app.name}}</td>
                <td ng-class="app.status">{{app.status}}</td>
            </tr>

        </tbody>

    </table>

    <div ng-show="apps == null || apps.length == 0">
        <p>There are no running applications.</p>
    </div>

</div>


