<div ng-show='isBusy == true' class="progress progress-striped active">
    <div class="bar" style="width: 100%;">{{status}}</div>
</div>

<form name="myForm" class="form-horizontal  well well-small" ng-hide='settings == null || isBusy == true'>

    <legend>Create Database</legend>

<!--    <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
            <input ng-disabled="isBusy == true" type="text" id="name" placeholder="name" ng-model="settings.name">
        </div>
    </div>-->

    <div class="control-group" ng-class="{error: myForm.name.$invalid}">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
            <input ng-disabled="isBusy == true" type="text" name="name" id="name" placeholder="Database name" ng-model="settings.name" required>
            <span ng-show="myForm.name.$error.validationError" class="help-inline">Invalid format</span>
            <span ng-show="myForm.name.$error.required" class="help-inline">Required</span>
        </div>
    </div>




    <div class="control-group" ng-class="{error: myForm.httpPort.$invalid}">
        <label class="control-label" for="httpPort">Http Port</label>
        <div class="controls">
            <input ng-disabled="isBusy == true" type="number" min="0" max="65535" integer name="httpPort" id="Number1" placeholder="Http port" ng-model="settings.httpPort" required>
            <span ng-show="myForm.httpPort.$error.validationError" class="help-inline">Invalid format</span>
            <span ng-show="myForm.httpPort.$error.required" class="help-inline">Required</span>
        </div>
    </div>

    <div class="control-group" ng-class="{error: myForm.schedulerCount.$invalid}">
        <label class="control-label" for="schedulerCount">Scheduler Count</label>
        <div class="controls">
            <input ng-disabled="isBusy == true" type="number" min="0" max="65535" integer name="schedulerCount" id="Number2" placeholder="Scheduler Count" ng-model="settings.schedulerCount" required>
            <span ng-show="myForm.schedulerCount.$error.validationError" class="help-inline">Invalid format</span>
            <span ng-show="myForm.schedulerCount.$error.required" class="help-inline">Required</span>
            <span class="help-block">Number of schedulers the database host should utilize.</span>
        </div>
    </div>

    <!--    <div class="control-group">
        <label class="control-label" for="httpPort">HttpPort</label>
        <div class="controls">
            <input ng-disabled="isBusy == true" type="text" id="httpPort" placeholder="httpPort" ng-model="settings.httpPort">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="schedulerCount">Scheduler Count</label>
        <div class="controls">
            <input ng-disabled="isBusy == true" type="text" id="schedulerCount" placeholder="schedulerCount" ng-model="settings.schedulerCount">
        </div>
    </div>-->


    <div class="control-group">
        <label class="control-label" for="chunksNumber">Chunks</label>
        <div class="controls">
            <input ng-disabled="isBusy == true" type="text" id="chunksNumber" placeholder="Chunks" ng-model="settings.chunksNumber">
            <span class="help-block">Number of shared memory chunks, dividable by 256..</span>
        </div>
    </div>



    <div class="control-group">
        <label class="control-label" for="dumpDirectory">Dump Directory</label>
        <div class="controls">
            <input ng-disabled="isBusy == true" class="input-xxlarge" type="text" id="dumpDirectory" placeholder="dumpDirectory" ng-model="settings.dumpDirectory">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="imageDirectory">Image Directory</label>
        <div class="controls">
            <input ng-disabled="isBusy == true" class="input-xxlarge" type="text" id="imageDirectory" placeholder="imageDirectory" ng-model="settings.imageDirectory">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="tempDirectory">Temp Directory</label>
        <div class="controls">
            <input ng-disabled="isBusy == true" class="input-xxlarge" type="text" id="tempDirectory" placeholder="tempDirectory" ng-model="settings.tempDirectory">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="transactionLogDirectory">Transaction Log Directory</label>
        <div class="controls">
            <input ng-disabled="isBusy == true" class="input-xxlarge" type="text" id="transactionLogDirectory" placeholder="transactionLogDirectory" ng-model="settings.transactionLogDirectory">
        </div>
    </div>


    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input ng-disabled="isBusy == true" type="checkbox" ng-model="settings.sqlAggregationSupport">SQL Aggregation Support</label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="sqlProcessPort">SQL Process Port</label>
        <div class="controls">
            <input ng-disabled="isBusy == true" type="text" id="sqlProcessPort" placeholder="sqlProcessPort" ng-model="settings.sqlProcessPort">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="collationFile">Collation File</label>
        <div class="controls">
            <input ng-disabled="isBusy == true" type="text" id="collationFile" placeholder="collationFile" ng-model="settings.collationFile">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="maxImageSize">Max Image Size</label>
        <div class="controls">
            <input ng-disabled="isBusy == true" type="text" id="maxImageSize" placeholder="maxImageSize" ng-model="settings.maxImageSize">
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input ng-disabled="isBusy == true" type="checkbox" ng-model="settings.supportReplication">Support Replication</label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="transactionLogSize">Transaction Log Size</label>
        <div class="controls">
            <input ng-disabled="isBusy == true" type="text" id="transactionLogSize" placeholder="transactionLogSize" ng-model="settings.transactionLogSize">
        </div>
    </div>


    <div class="form-actions">
        <button type="submit" ng-disabled="myForm.$invalid || isBusy == true" class="btn btn-success" ng-click="btnClick_createDatabase()">Create Database</button>
        {{status}}
    </div>

</form>

