<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

<h3>Databases</h3>


<table class="table table-bordered">

    <thead>
        <tr>
            <th>Name</th>
            <th>ProcessId</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="database in databases">
            <td>
                <a href="#/databases/{{database.DatabaseId}}">{{database.DatabaseName}}</a>
            </td>
            <td>{{database.HostProcessId}}
            </td>
        </tr>
    </tbody>


</table>
