<div ng-show='databases == null' class="progress progress-striped active">
    <div class="bar" style="width: 100%;"></div>
</div>


<div ng-hide='databases == null'>

    <button class="btn pull-right" ng-click="btnClick_refreshDatabases()"><i class="icon-repeat"></i></button>

    <table class="table table-striped table-bordered" ng-hide="databases == null || databases.length == 0">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Status</th>
                <th class="span1"></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="database in databases">

                <td>
                    <div class="btn-group">
                        <a ng-click="btnClick_restart()" class="btn"><i class="icon-repeat"></i></a>
                        <a ng-click="btnClick_start()" class="btn"><i class="icon-play"></i></a>
                        <a ng-click="btnClick_stop()" class="btn"><i class="icon-stop "></i></a>
                    </div>
                </td>

                <td>
                    <a href="#/databases/{{database.name}}">{{database.name}}</a>
                </td>

                <td>{{database.status}}
                </td>
                <td>
                    <button ng-click="btnClick_delete(database)" class="close">&times;</button>

                </td>
            </tr>

        </tbody>
    </table>

    <div ng-show="databases == null || databases.length == 0">
        <p>There are no databases.</p>
    </div>

    <a class="btn btn-primary" href="#/create_database">Create database</a>


</div>



<!--<table class="table table-striped table-hover">

    <thead>
        <tr>
            <th>Name</th>
            <th>ProcessId</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="database in databases">
            <td>
                <a href="#/databases/{{database.DatabaseId}}">{{database.DatabaseName}}</a>
            </td>
            <td>{{database.HostProcessId}}
            </td>
        </tr>
    </tbody>-->


</table>
