<form name="myForm" class="form-horizontal  well well-small" ng-hide='database == null'>

    <legend>Edit Database - {{database.name}}</legend>

    <div class="control-group" ng-class="{error: myForm.httpPort.$invalid}">
        <label class="control-label" for="httpPort">Http Port</label>
        <div class="controls">
            <input ng-disabled="isBusy == true" type="number" min="0" max="65535" integer name="httpPort" id="httpPort" placeholder="Http port" ng-model="database.httpPort" required>
            <span ng-show="myForm.httpPort.$error.validationError" class="help-inline">Invalid format</span>
            <span ng-show="myForm.httpPort.$error.required" class="help-inline">Required</span>
        </div>
    </div>

    <div class="control-group" ng-class="{error: myForm.sqlAggregationSupport.$invalid}">
        <div class="controls">
            <label class="checkbox">
                <input ng-disabled="isBusy == true" type="checkbox" name="sqlAggregationSupport" id="sqlAggregationSupport" ng-model="database.sqlAggregationSupport">SQL Aggregation Support</label>
        </div>
    </div>

    <div class="control-group" ng-class="{error: myForm.schedulerCount.$invalid}">
        <label class="control-label" for="schedulerCount">Scheduler Count</label>
        <div class="controls">
            <input ng-disabled="isBusy == true" type="number" min="0" max="65535" integer name="schedulerCount" id="Number1" placeholder="Scheduler Count" ng-model="database.schedulerCount" required>
            <span ng-show="myForm.schedulerCount.$error.validationError" class="help-inline">Invalid format</span>
            <span ng-show="myForm.schedulerCount.$error.required" class="help-inline">Required</span>
            <span class="help-block">Number of schedulers the database host should utilize.</span>
        </div>
    </div>

    <div class="control-group" ng-class="{error: myForm.chunksNumber.$invalid}">
        <label class="control-label" for="chunksNumber">Chunks</label>
        <div class="controls">
            <input ng-disabled="isBusy == true" type="number" name="chunksNumber" id="chunksNumber" placeholder="Chunks" ng-model="database.chunksNumber" required>
            <span ng-show="myForm.chunksNumber.$error.validationError" class="help-inline">Invalid format</span>
            <span ng-show="myForm.chunksNumber.$error.required" class="help-inline">Required</span>
            <span class="help-block">Number of shared memory chunks, dividable by 256..</span>
        </div>
    </div>


    <div class="form-actions">
        <button type="submit" ng-disabled="myForm.$invalid || isBusy == true || myForm.$dirty == false" class="btn btn-success" ng-click="btnSave()">Save</button>
    </div>

</form>

