
<div ng-hide='database == null || isBusy == true'>

    <legend>Database - {{database.name}} <span ng-show="database.running" class="Running">(Running)</span></legend>

    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" href="#/databases/{{database.name}}/edit">Settings</a>
        </div>
    </div>

    <div class="row-fluid">

        <legend>Console output
            <button ng-hide="isWebsocketSupport == true" ng-disabled="database.running == false" class="btn pull-right" ng-click="btnClick_refreshConsole()"><i class="icon-repeat"></i></button>
        </legend>

        <div class="console" ng-style="style()" id="console" style="overflow: scroll" ng-bind-html-unsafe="console" />


    </div>

</div>



