<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

<h3>Database</h3>


<div n>


    <!--<h4>Database: {{database.DatabaseName}}</h4>-->

    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{database.DatabaseName}}</dd>
        <dt>ProcessId</dt>
        <dd>{{database.HostProcessId}}</dd>
        <!--        <dt>MaxImageSize</dt>
        <dd>{{database.MaxImageSize}}</dd>
        <dt>TransactionLogSize</dt>
        <dd>{{database.TransactionLogSize}}</dd>
        <dt>CollationFile</dt>
        <dd>{{database.CollationFile}}</dd>
        <dt>SupportReplication</dt>
        <dd>{{database.SupportReplication}}</dd>-->
    </dl>


    <!--   <div class="btn-group">
        <button class="btn" ng-click="btnClick_start()">Start</button>
        <button class="btn" ng-click="btnClick_stop()">Stop</button>
    </div>-->


    <table class="table table-bordered">

        <thead>
            <tr>
                <th>ExecutablePath</th>
                <th>WorkingDirectory</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="app in database.Apps">
                <td>{{app.ExecutablePath}}</td>
                <td>{{app.WorkingDirectory}}</td>
            </tr>
        </tbody>

    </table>

    <dl>
        <dt>Console</dt>
        <dd>
            <!--            <div class="well well-small" ng-bind-html-unsafe="console"></div>-->
        </dd>
    </dl>

    <div class="btn-group">
        <button class="btn btn-primary span2" ng-disabled="isBusy == true" ng-click="btnClick_refresh_console()">Refresh</button>
    </div>


    <div class="console" ng-style="style()" id="console" style="overflow: scroll" ng-bind-html-unsafe="console" />



</div>


