
<table class="table table-striped table-bordered" ng-hide="engines.length == 0">
    <thead>
        <tr>
            <th>Name</th>
            <th>Database</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="engine in engines">

            <td><a href="#/engines/{{engine.name}}">{{engine.name}}</a></td>
            <td><a href="#/databases/{{engine.databaseName}}">{{engine.databaseName}}</a> <span class="Running"> (Running)</span></td>
            <td><button class="btn btn-danger" ng-click="btnStopEngine(engine)">Stop</button></td>
        </tr>

    </tbody>
</table>

<div ng-show="engines.length == 0">
    <p>There are no engines running.</p>
</div>


