<div class="modal-header">
    <h3>{{header}}</h3>
</div>
<div class="modal-body">
    <p>{{message}}</p>
    <br />

    <div ng-hide="helpLink == null">
        <p>Help page: <a href="{{helpLink}}" target="_blank">{{helpLink}}</a></p>
    </div>

    <div ng-hide="stackTrace == null || stackTrace == ''">

        <accordion close-others="oneAtATime">
  
    <accordion-group heading="Stacktrace" >
         <p>{{stackTrace}}</p>  
    </accordion-group>
  </accordion>
    </div>
    <br />
    <p><a href="http://localhost:8181/#/log" target="_blank">Consult the error log for more information.</a></p>
    <p><a href="https://github.com/Starcounter/Starcounter/wiki/Error-log" target="_blank">Read about the error log.</a></p>

</div>

<div class="modal-footer">
    <button ng-click="close(result)" class="btn btn-primary">Close</button>
</div>
