<table class="table table-striped table-bordered" ng-hide="executables.length == 0">
    <thead>
        <tr>
            <th>Path</th>
            <th>Database</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="executable in executables  | orderBy: 'databaseName'">
            <td>{{executable.path}}</td>
            <td><a href="#/databases/{{executable.databaseName}}">{{executable.databaseName}}</a></td>
            <td><span class="Running">Running</span></td>
        </tr>

    </tbody>
</table>

<div ng-show="executables.length == 0">
    <p>There are no executables running.</p>
</div>

<a class="btn btn-primary" href="#/executable_start">Start Executable</a>
<span ng-repeat="engine in engines | filter:executables.length == 0">
    <button ng-click="btnStopAllExecutable(engine)" class="btn btn-danger">Stop all executables running in {{engine.name}}</button>
</span>
