<div ng-hide="isBusy">

    <table class="table table-striped table-bordered" ng-hide="executables.length == 0">
        <thead>
            <tr>
                <th>Path</th>
                <th>Database</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="executable in executables  | orderBy: 'databaseName'">
                <td>{{executable.path}}</td>
                <td><a href="#/databases/{{executable.databaseName}}">{{executable.databaseName}}</a></td>
                <td><span class="Running">Running</span></td>
            </tr>

        </tbody>
    </table>

    <div ng-show="executables.length == 0">
        <p>There are no executables running.</p>
    </div>

    <a class="btn btn-primary" href="#/executable_start">Start Executable</a>

    <span ng-repeat="database in databases | filter:isFalsey(database.running)">
        <span ng-repeat="executable in executables" ng-show="database.name==executable.databaseName">
            <button ng-click="btnStopAllExecutable(database)" class="btn btn-danger">Stop all executables running in {{database.name}}</button>
        </span>
    </span>

</div>
