<div class="btn-toolbar">




    <div class="btn-group" data-toggle="buttons-checkbox">
        <button type="button" ng-disabled="isBusy == true" class="btn" ng-model="filterModel.debug" btn-checkbox>Debug</button>
        <button type="button" ng-disabled="isBusy == true" class="btn" ng-model="filterModel.notice" btn-checkbox>Notice</button>
        <button type="button" ng-disabled="isBusy == true" class="btn btn-warning" ng-model="filterModel.warning" btn-checkbox>Warning</button>
        <button type="button" ng-disabled="isBusy == true" class="btn btn-danger" ng-model="filterModel.error" btn-checkbox>Error</button>
    </div>
    <button class="btn pull-right" ng-disabled="isBusy == true" ng-click="btnClick_refresh()"><i class="icon-repeat"></i></button>
</div>


<!--<table class="table table-condensed">

    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Host</th>
            <th>Source</th>
            <th>Message</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-class="entry.TypeStr" ng-repeat="entry in log.LogEntries">
            <td class="log_datetime">{{entry.DateTimeStr}}</td>
            <td>{{entry.TypeStr}}</td>
            <td>{{entry.HostName}}</td>
            <td>{{entry.Source}}</td>
            <td>{{entry.Message}}</td>
        </tr>
    </tbody>

</table>-->


<ui-handsontable
    id="handsontable"
    height="calcHeight"
    stretchh="'last'"
    outsideclickdeselects="false"
    selectedindex="currentSelection"
    minsparerows="0"
    startrows="0"
    datarows="row in log.LogEntries"
    currentrowclassname="'currentRow'"
    manualcolumnmove="false"
    manualcolumnresize="true"
    columnsorting="true">

      <datacolumn readOnly="true" value="row.DateTimeStr" title="'Date'"></datacolumn>
      <datacolumn readOnly="true" value="row.TypeStr" title="'Type'"></datacolumn>
      <datacolumn readOnly="true" value="row.HostName" title="'Host'"></datacolumn>
      <datacolumn readOnly="true" value="row.Source" title="'Source'"></datacolumn>
      <datacolumn readOnly="true" value="row.Message" title="'Message'"></datacolumn>

    </ui-handsontable>


<!--
    <div id="example1" style="width: 400px; height: 300px; overflow: scroll; border: 2px solid red" class="handsontable"></div>

    <script>

    $(document).ready(function () {
        var border = 2;
        var windowHeight = $(window).height();
        var topOffset = $("#example1").position().top;
        $("#example1").height(windowHeight - topOffset - 2 * border);

        // for the window resize
        $(window).resize(function () {
            var windowHeight = $(window).height();
            var topOffset = $("#example1").position().top;
            $("#example1").height(windowHeight - topOffset - 2 * border);
        });


    });

</script>-->
