<div class="row-fluid">


    <div ng-repeat="engine in engines">

        <legend>Engine - <a href="#/engines/{{engine.Name}}">{{engine.Name}}</a></legend>

        <dl class="dl-horizontal">
            <dt>Database</dt>
            <dd><a href="#/databases/{{engine.model.Database.Name}}">{{engine.model.Database.Name}}</a> <span ng-show="databaseProcess.Running" class="Running">(Running)</span></dd>

            <dt>Codehost PID</dt>
            <dd>{{hostProcess.PID}}</dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>Applications</dt>

            <dd>
                <ul class="thumbnails">
                    <li ng-repeat="executable in engine.model.Executables.Executing">
                        <div class="thumbnail">
                            <p>{{executable.Name}}</p>
                            <!--<p>{{executable.Path}}</p>-->
                            <!--<p>{{executable.Uri}}</p>-->
                            <span ng-show="databaseProcess.Running" class="Running">(Running)</span>
                            <!--<a href="#/databases/{{executable.Name}}">{{executable.Name}}</a>-->

                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn" ng-disabled="true" ng-click="btnClick_start()">Start</button>
                                    <button class="btn" ng-disabled="true" ng-click="btnClick_stop()">Stop</button>
                                    <a class="btn btn-primary" href="#/databases/{{database.name}}/edit">Settings</a>
                                </div>
                            </div>

                        </div>
                    </li>

                </ul>
            </dd>

        </dl>


        <!--        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Path</th>
                    <th>Uri</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="executable in engine.model.Executables.Executing">
                    <td>{{executable.Name}}</td>
                    <td>{{executable.Path}}</td>
                    <td>{{executable.Uri}}</td>
                </tr>
            </tbody>
        </table>-->

        <!--<button class="btn" ng-click="click()">Click</button>-->


    </div>





    <!--    <div class="span6">

        <legend>Applications
            <button class="btn pull-right" ng-click="btnClick_refreshApps()"><i class="icon-repeat"></i></button>
        </legend>

        <table class="table table-striped table-bordered fix-word-wrap-table" ng-hide="apps == null || apps.length == 0">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Database</th>
                    <th class="span2">Status</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="app in apps">

                    <td>
                        <div class="btn-group">
                            
                            <a ng-click="btnClick_app_start(app)" class="btn"><i class="icon-play"></i></a>
                            <a ng-click="btnClick_app_stop(app)" class="btn"><i class="icon-stop "></i></a>
                        </div>
                    </td>
                    <td>{{app.name}}</td>

                    <td>
                        <a href="#/databases/{{app.databaseName}}">{{app.databaseName}}</a>
                    </td>

                    <td ng-class="app.status">{{app.status}}</td>

                </tr>

            </tbody>

        </table>

        <div ng-show="apps == null || apps.length == 0">
            <p>There are no running applications.</p>
        </div>

    </div>

    <div class="span6">
        <legend>Databases
            <button class="btn pull-right" ng-click="btnClick_refreshDatabases()"><i class="icon-repeat"></i></button>
        </legend>

        <table class="table table-striped table-bordered fix-word-wrap-table" ng-hide="databases == null || databases.length == 0">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Status</th>
                    <th class="span1"></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="database in databases">

                    <td>
                        <div class="btn-group">
                           
                            <a ng-click="btnClick_database_start(database)" class="btn"><i class="icon-play"></i></a>
                            <a ng-click="btnClick_database_stop(database)" class="btn"><i class="icon-stop "></i></a>
                        </div>
                    </td>

                    <td>
                        <a href="#/databases/{{database.name}}">{{database.name}}</a>
                    </td>

                    <td ng-class="database.status">{{database.status}}
                    </td>
                    <td>
                        <button ng-click="btnClick_database_delete(database)" class="close">&times;</button>
                    </td>
                </tr>

            </tbody>

        </table>

        <div ng-show="databases == null || databases.length == 0">
            <p>There are no databases.</p>
        </div>

        <a class="btn btn-primary" href="#/database_create">Create database</a>

    </div>-->

</div>
