<div class="row-fluid">
    <div class="span6">

        <legend>Applications
            <button class="btn pull-right" ng-click="btnClick_refreshApps()"><i class="icon-repeat"></i></button>
        </legend>

        <table class="table table-striped table-bordered fix-word-wrap-table" ng-hide="apps == null || apps.length == 0">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Database</th>
                    <th class="span2">Status</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="app in apps">

                    <td>
                        <div class="btn-group">
                            <!--<a ng-click="btnClick_app_restart(app)" class="btn"><i class="icon-repeat"></i></a>-->
                            <a ng-click="btnClick_app_start(app)" class="btn"><i class="icon-play"></i></a>
                            <a ng-click="btnClick_app_stop(app)" class="btn"><i class="icon-stop "></i></a>
                        </div>
                    </td>
                    <td>{{app.name}}</td>

                    <td>
                        <a href="#/databases/{{app.databaseName}}">{{app.databaseName}}</a>
                    </td>

                    <td ng-class="app.status">{{app.status}}</td>

                </tr>

            </tbody>

        </table>

        <div ng-show="apps == null || apps.length == 0">
            <p>There are no running applications.</p>
        </div>

    </div>

    <div class="span6">
        <legend>Databases
            <button class="btn pull-right" ng-click="btnClick_refreshDatabases()"><i class="icon-repeat"></i></button>
        </legend>

        <table class="table table-striped table-bordered fix-word-wrap-table" ng-hide="databases == null || databases.length == 0">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Status</th>
                    <th class="span1"></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="database in databases">

                    <td>
                        <div class="btn-group">
                            <!--<a ng-click="btnClick_database_restart(database)" class="btn"><i class="icon-repeat"></i></a>-->
                            <a ng-click="btnClick_database_start(database)" class="btn"><i class="icon-play"></i></a>
                            <a ng-click="btnClick_database_stop(database)" class="btn"><i class="icon-stop "></i></a>
                        </div>
                    </td>

                    <td>
                        <a href="#/databases/{{database.name}}">{{database.name}}</a>
                    </td>

                    <td ng-class="database.status">{{database.status}}
                    </td>
                    <td>
                        <button ng-click="btnClick_database_delete(database)" class="close">&times;</button>
                    </td>
                </tr>

            </tbody>

        </table>

        <div ng-show="databases == null || databases.length == 0">
            <p>There are no databases.</p>
        </div>

        <a class="btn btn-primary" href="#/create_database">Create database</a>

    </div>
</div>
