<form name="myForm" class="form-horizontal  well well-small" ng-hide='settings == null'>

    <legend>Edit Server - {{settings.name}} </legend>

    <div class="control-group" ng-class="{error: myForm.httpPort.$invalid}">
        <label class="control-label" for="httpPort">Http Port</label>
        <div class="controls">
            <input ng-disabled="isBusy == true" type="number" min="0" max="65535" integer name="httpPort" id="httpPort" placeholder="Http port" ng-model="settings.httpPort" required>
            <span ng-show="myForm.httpPort.$error.validationError" class="help-inline">Invalid format</span>
            <span ng-show="myForm.httpPort.$error.required" class="help-inline">Required</span>
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" ng-disabled="myForm.$invalid || isBusy == true" class="btn btn-success" ng-click="btnSave()">Save</button>
    </div>

</form>

<p class="muted pull-right">
    v{{settings.version}}
</p>
