<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

<h3>Server</h3>

<div>

    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{server.ServerName}}</dd>

        <dt>Http Port</dt>
        <dd>{{server.SystemHttpPort}}</dd>

        <dt>DatabaseDirectory</dt>
        <dd>{{server.DatabaseDirectory}}</dd>
        <dt>LogDirectory</dt>
        <dd>{{server.LogDirectory}}</dd>
        <dt>TempDirectory</dt>
        <dd>{{server.TempDirectory}}</dd>
    </dl>

</div>

<h3>Gateway</h3>

<accordion>
  
    <accordion-group heading="Statistics">

        <div class="btn-group">
            <button class="btn btn-primary span2" ng-disabled="isBusy == true" ng-click="btnClick_refresh_gwateway_stats()">Refresh</button>
        </div>

        <dl>
          <dt>Statistics</dt>
          <dd><div ng-bind-html-unsafe="gwStats"></div></dd>
        </dl>
    </accordion-group>
  </accordion>

