<div class="btn-toolbar">

    <!--    <div class="input-prepend">
            <button class="btn btn-primary" ng-disabled="selectedDatabase == null||isBusy == true" ng-click="btnClick_execute()">{{executeButtonTitle()}}</button>
  <button class="btn" type="button">Go!</button>
            <select class="span3" ui-select2 ng-model="selectedDatabaseId">
                <option value="">-- select a database --</option>
                <option value="{{database.DatabaseId}}" ng-repeat="database in databases">{{database.DatabaseName}}</option>
            </select>


    </div>-->

    <div class="input-prepend">
        <div class="btn-group">
            <button class="btn btn-success span2" ng-disabled="selectedDatabase == null||isBusy == true||sqlQuery == ''" ng-click="btnClick_execute()">{{executeButtonTitle()}}</button>
            <select ng-model="selectedDatabase" ng-options="database.name for database in databases">
                <option value="">-- choose database --</option>
            </select>
        </div>
    </div>
</div>

<textarea id="sqlinput" ui-codemirror="{theme:'monokai'}" ng-model="sqlQuery"></textarea>

<br />

<!--Columns {{Columns}}<br />
Rows {{Rows}}-->

<!--<table class="table table-condensed">
    <thead>
        <tr>
            <th ng-repeat="column in Columns">{{column.title}}</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="row in Rows">
            <td ng-repeat="column in Columns">{{row[column.value]}}</td>
        </tr>
    </tbody>

</table>-->

<div ng-show='isBusy == true' class="progress progress-striped active">
    <div class="bar" style="width: 100%;"></div>
</div>

<div ng-hide='isBusy == true'>

    <ui-handsontable
        id="handsontable"
        height="calcHeight"
        stretchh="'last'"
        selectedindex="SelectedIndex"
        outsideclickdeselects="false"
        selectedindex="currentSelection"
        columns="columns"
        minsparerows="0"
        startrows="0"
        datarows="row in rows"
        currentrowclassname="'currentRow'"
        manualcolumnmove="false"
        manualcolumnresize="false"
        columnsorting="false">
</ui-handsontable>

</div>
