<form class="form-inline">

    <select class="input-large" name="database" id="database" ui-select2 ng-model="selectedDatabaseName">
        <option value="">-- select a database --</option>
        <option value="{{database.name}}" ng-repeat="database in databases | filter: {running:true}">{{database.name}}</option>
    </select>

    <button type="submit" class="btn btn-success input-medium" ng-disabled="selectedDatabaseName == null||isBusy == true||sqlQuery == ''" ng-click="btnExecute()">{{executeButtonTitle()}}</button>

</form>

<textarea id="sqlinput" ui-codemirror="{theme:'monokai'}" ng-model="sqlQuery"></textarea>

<br />


<div ng-show='isBusy == true' class="progress progress-striped active">
    <div class="bar" style="width: 100%;">Executing sql query</div>
</div>

<div ng-hide='isBusy == true'>

    <tabs>
        <pane heading="Result">
            <ui-handsontable
                id="handsontable"
                height="calcHeight"
                stretchh="'last'"
                selectedindex="SelectedIndex"
                outsideclickdeselects="false"
                selectedindex="currentSelection"
                columns="columns"
                minsparerows="0"
                startrows="0"
                datarows="row in rows"
                currentrowclassname="'currentRow'"
                manualcolumnmove="false"
                manualcolumnresize="false"
                columnsorting="false">
            </ui-handsontable>
        </pane>
        <pane heading="Queryplan">
            <div ng-bind-html-unsafe="queryPlan" />
       </pane>
    </tabs>

</div>
