<form class="form-inline">

    <select ng-model="selectedDatabase" ng-options="database.DatabaseName for database in databases">
        <option value="">-- chose database --</option>
    </select>


    <button type="submit" class="btn" ng-disabled="selectedDatabase == null" ng-click="btnClick_execute()">Execute</button>
</form>


<div ng-show="hasMessage()">
    <div class="alert alert-error">
        {{message}}
    </div>
</div>

<textarea ui-codemirror="{theme:'monokai'}" ng-model="sqlquery"></textarea>


<!--Columns {{Columns}}<br />
Rows {{Rows}}-->

<table class="table table-condensed">
    <thead>
        <tr>
            <th ng-repeat="column in Columns">{{column.title}}</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="row in Rows">
            <td ng-repeat="column in Columns">{{row[column.value]}}</td>
        </tr>
    </tbody>

</table>

<!--<ui-handsontable    height="400"
                    stretchh="'last'"
                    selectedindex="SelectedIndex"
                    outsideclickdeselects="false"
                    selectedindex="currentSelection"
                    columns="sql.Columns"
                    minsparerows="0"
                    startrows="0"
                    datarows="row in sql.Rows"
                    currentrowclassname="'currentRow'"
                    manualcolumnmove="true"
                    manualcolumnresize="true"
                    columnsorting="true">
</ui-handsontable>
-->
