<!doctype html>

<head>
    <title>Starcounter</title>

    <link rel="stylesheet" href="/css/bootstrap-2.2.1.css">

    <script src="/sys/angular-1.0.2.js"></script>
    <script src="/sys/angular-patch.js"></script>
    <!--<script src="/sys/bootstrap-2.2.1.js"></script>-->

</head>

<body ng-remoteapp mockup-data="SqlApp.json" >

    <div class="input-append">
        <input type="text" ng-model="Query$" class="input-xxlarge" />
        <button ui-click="Execute$" class="btn btn-primary">Execute</button>
        Fetch:<input type="text" ng-model="FetchCount$" />
    </div>

    <div>
        {{Error.Message}}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th ng-repeat="column in QueryResult.Columns">{{column.Title}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="result in QueryResult.Result">
                <td ng-repeat="col in result">{{col}}</td>
            </tr>
        </tbody>
    </table>

    <button ui-click="GetMore$" class="btn btn-primary" ng-disabled="!More">Get more</button>
</body>


