<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Starcounter.InstallerWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Starcounter.InstallerWPF.Properties.Settings>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DatabasesRepositoryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="InstallationBasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SendUsageAndCrashReports" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultUserHttpPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultSystemHttpPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultAggregationPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InstallPersonalServer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Vs2012Integration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Vs2013Integration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Vs2015Integration" serializeAs="String">
                <value>True</value>
            </setting>
        </Starcounter.InstallerWPF.Properties.Settings>
    </userSettings>
</configuration>